:root {
    --input-linear: linear-gradient(120deg, #e75590, #00C2CB);
    --button-linear: linear-gradient(120deg, #e75590, #00C2CB, #e75590);
    --outro-gradiente: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    --white: #fff;
    --meio_cinza: rgb(73, 73, 73);
    --cinza: rgb(139, 139, 139);
    --border-height: 2px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.login {
    height: 100vh;
    background: var(--outro-gradiente);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container {
    min-height: 600px;
    width: 800px;
    background-color: var(--white);
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_title {
    margin-bottom: 32px;
    color: rgb(73, 73, 73);
}

.login_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
}

.login_input-border {
    height: 1px;
    width: 100%;
    margin-bottom: var(--border-height);
    background-color:rgb(177, 177, 177);
    transition: 0.3s ease-in-out; 
}

.login_input-border::after {
    content: '';
    display: block;
    height: var(--border-height);
    width: 0;
    margin-bottom: 16px;
    background: var(--input-linear);
    transition: .3s ease-in-out;
}

.login_input:focus + .login_input-border::after {
    width: 100%;
}

.login_submit {
    margin-top: 20px;
    height: 48px;
    width: 100%;
    outline: none;
    position: relative;
    background: var(--outro-gradiente);
    background-size: 200%;
    margin-bottom: 20px;
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    border: unset; 
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease;
}

.login_submit:hover {
    background-position: right;
}

.login_reset {
    font-size: 12px;
    color: var(--cinza);
    text-decoration: none;
}

.dataNasc {
    margin-bottom: 20px;
    color: rgb(73, 73, 73);
    border: none;
    
}

